{% extends "upload_form/base.html" %}

{% block extrahead %}
<script>

</script>
{% endblock extrahead %}

{% block title %}音声ファイルアップロード{% endblock title %}
{% block content %}
    <div class="explain">
      <a href="https://github.com/julius-speech/segmentation-kit">
        Juliusの音素自動セグメンテーション
      </a>
      を利用してアップロードされた音声データから母音を抽出し、抽出された母音の音声ファイルをダウンロードすることができます。
    </div>
    <div class="sub_title">
      ファイルアップロード
    </div>
    <hr class="sub_title_line">
    <div class="section">
      <div class="section-title">ファイルの条件</div>
      <div class="section-content">
        <span class="under">ファイル名を揃えた</span>以下の2つのファイルを選択する
        <ul>
          <li>wavファイル</li>
          <ul>
            <li>サンプリング周波数:16000Hz</li>
            <li>量子化bit: 16bit</li>
            <li>チャンネル数:1 (モノラルのみ)</li>
          </ul>
          <li>txtファイル</li>
          <ul>
            <li>内容：音声ファイルの内容の読みを平仮名で記載</li>
            <li>文字コード："UTF-8"</li>
            <li>注意：「今日は」→「きょーわ」，「室蘭へ」→「むろらんえ」</li>
          </ul>
        </ul>
      </div>
    </div>

    <br>
    <div class="section-title">アップロードの実行</div>
    <div class="section-content">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="select-file-zone">
            <div class="file-messe">Ctr押しながら2種のファイルを選択</div>
            <input type="file" name="file[]" accept="audio/wav,text/plain" multiple required>
          </div>

          <div class="select-vowel-zone">
            <span class="vowel-messe">抽出する母音を選択　</span>
            <select name="vowel">
            <option value="a">あ</option>
            <option value="i">い</option>
            <option value="u">う</option>
            <option value="e">え</option>
            <option value="o">お</option>
            </select>
          </div>

          <div class="upload-button">
            <input type="submit" class="square_btn_upload" value="アップロード">
          </div>

      </form>
      {% if flag != 0 %}
        {{ comment }}
      {% endif %}
      <br>
      <br>
    </div>
{% endblock content %}
