{% extends "upload_form/base.html" %}

{% block title %}音声ファイルアップロード{% endblock title %}
{% block content %}
<!-- <div align="center"> -->
    <div class="sub_title">
      ファイルアップロード
    </div>
    <div class="rule">
      <div class="rule-title">ファイルの条件</div>
      <div class="rule-content">
        <ul>
          <li>wavファイル</li>
          <ul>
            <li>サンプリング周波数:16000Hz</li>
            <li>量子化bit: 16bit</li>
            <li>チャンネル数:1 (モノラルのみ)</li>
          </ul>
          <li>txtファイル</li>
          <ul>
            <li>内容：音声ファイルの内容の読みを平仮名で記載</li>
            <li>文字コード："UTF-8"</li>
            <li>注意：「今日は」→「きょーわ」，「室蘭へ」→「むろらんえ」</li>
          </ul>
        </ul>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file[]" multiple>

        <select name="vowel">
        <option value="a">あ</option>
        <option value="i">い</option>
        <option value="u">う</option>
        <option value="e">え</option>
        <option value="o">お</option>
        </select>

        <input type="submit" value="アップロード">
    </form>
    {% if flag != 0 %}
      {{ comment }}
    {% endif %}
<!-- </div> -->
{% endblock content %}
