h1 a {
    color: #FFF;
    font-size: 80px;
    font-family: 'Lobster';
    background-color : #FCA205;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    padding-left: 36px;
}

.all-content {
  margin-right: auto;
}


div .sub_title {
  font-size: 25px;
  font-weight:700;
}
